@font-face {
    font-family: 'Avenir';
    src: url('font/Avenir.ttc') format('truetype');
    /* Vous pouvez ajouter d'autres formats de police (e.g., woff, woff2) et leurs chemins correspondants ici */
}
:root {
    --dark: #1E1E1E;
    --secondColor: #ADADAD;
    --firstColor: #FAFAFA;
}




* {
    margin: 0;
    padding: 0;
    font-family: 'Avenir';
    font-style: normal;
}

body {
    background-color: var(--dark);
}
main {
    margin: -10% auto 120% auto;
    padding: 0 3%;
    width: 85%;
    overflow: hidden;
}

h1 {
    font-size: 13.7em;
    font-weight: 900;
    /*------------------------*/
    margin-top: 40%;
    margin-bottom: 19%;
    margin-left: -1.2%;
}
.h1 {
    font-size: .48em;
    font-weight: 900;
}
h2 {
    font-size: 7.5em;
    font-weight: 800;
    /*------------------------*/
    margin: 20% 0;
}
p {
    font-size: 4.5em;
    font-weight: 400;
}


/* Effet sur paragraphe lorsqu'il n'est pas au milieu de l'écran */
.scrolling-paragraph {
    color: var(--secondColor);
    filter: blur(3.5px);
    opacity: .2;
    transition: .6s; /* Transition des effets */
}
/* Effet sur paragraphe lorsqu'il est au milieu de l'écran */
.scrolling-paragraph.highlight {
    color: var(--firstColor);
    filter: blur(0);
    opacity: 1;
    transform: translateX(-2%);
    text-shadow: var(--firstColor) 0 0 8px;
}


#boxOfBlur-top {
    position: fixed;
    background-color: var(--dark);
    filter: blur(20px);
    /*------------------------*/
    top: -2vh;
    left: -10vw;
    /*------------------------*/
    width: 120vw; height: 10vh;
    /*------------------------*/
    z-index: 1;
}
#boxOfBlur-bottom {
    position: fixed;
    background-color: var(--dark);
    filter: blur(20px);
    /*------------------------*/
    left: -10vw;
    bottom: -2vh;
    /*------------------------*/
    width: 120vw; height: 11.5vh;
    /*------------------------*/
    z-index: 1;
}



#scrolly-video {
    width: 100%;
}



/* 
#progress-bar {
    position: fixed;
    bottom: 3.3%; left: 50%;
    width: 90%; height: 1.8%;
    z-index: 1;
    ----------------------------
    border: 4px solid var(--firstColor);
    transform: translateX(-50%);
    border-radius: 65px;
    background: var(--firstColor);
}
*/

/* 
.boxof-progress-bar {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
}

.progress-bar-container {
  width: 100%;
  height: 15px;
  background: #ccc;
}

.progress-bar-content {
  height: 15px;
  background: #04AA6D; couleur de la progression 
  width: 0%;
}
*/

 /* progressBar */
.boxof-progress-bar {
    position: fixed;
    bottom: 3.3%; left: 50%;
    width: 92%;
    z-index: 1;
    transform: translateX(-50%);
}
.progress-bar-container {
    width: 100%; height: 1vh;
    /* ---------------------------- */
    background: var(--dark); /* couleur de la bar avant la progression */
    border-radius: 100px;
    border: 2px solid var(--firstColor);
}
.progress-bar-content {
    width: 0%; height: 1vh;
    /* ---------------------------- */
    background: var(--firstColor); /* couleur de la pendant progression */
    border-radius: 100px;
}



/* image cachéz */
.img {
    transform: translateX(-110%);
    transition: .9s;
    opacity: 0;
    border-radius: 80px;
    margin: 15% 0;
}

/* image affichée */
.img.active {
    transform: translateX(0);
    transition: .9s;
    opacity: 1;
}

#imgFourier {
    width: 100%;
}

